{% extends 'layout.html' %}

{% block content %}

  <div class='content'>
    <div class='build'>
    <h1>{{ champion }} Suggested Build</h1>
    <button><a href='/builds/{{ champion }}_build.json' download>Download Suggested Build JSON!</a></button>
      {% for category in displayOrder %}
        <p>{{ category }}</p>
        <div class='build-block'>
          {% for item in data[category] %}
            <img src='/static/images/items/{{ item["id"] }}.png' />
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
