{% extends 'layout.html' %}

{% block content %}

  <div class='content'>
    <div class='build'>
      <h1>
        {{ champion }} Suggested Build
      </h1>
      <button>
        <a href='/builds/{{ champion }}_build.json' download>
          Download Suggested Build JSON!
        </a>
      </button>
      <button>
        <a href='/builds/all_builds.zip' download>
          Download all champion builds!
        </a>
      </button>
      <p>
        Place the build JSON file in
        <b>
        C:\Riot Games\League of Legends\Config\Global\Recommended
        </b>
        to use it in game!
      </p>

      {% for category in displayOrder %}
        {% if data[category].length != 0 %}
          <p>
            {{ category }}
          </p>
          <div class='build-block'>
            {% for item in data[category] %}
              <div class='build-block-hover'>
                <img src='/static/images/items/{{ item["id"] }}.png' />
                <div class='build-block-hover-tooltip'>
                  {{ item.sanitizedDescription }}
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    Background.displayChampionBackground('{{ champion }}');
  </script>
{% endblock %}
