{% extends 'layout.html' %}

{% block content %}

  <div class='content'>
    <h1>
      How do I build...
    </h1>
    <h2>
      Search your champion
    </h2>

    <div class='search-bar'>

      {{ error || '' }}

      <form action='/champion' method='GET'>
        <div class='search-text'>
          <input type='text' name='champion'
                 placeholder='Enter your champion...'/>
        </div>
        <div class='search-button'>
          <input type='submit' name='submit' />
        </div>
      </form>
    </div>

  </div>

{% endblock %}
