<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Riot Games API Challenge 2.0</title>
    <link href='/static/styles.css'
          rel='stylesheet' />
    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>
    {% endblock %}
  </head>
  <body>
    <header>
    <ul>
      <li id="icon">
        <a href="/">
          Itemify.gg
        </a>
      </li>
      <li>
        <a href="/about">
          About
        </a>
      </li>
      <li>
        <a href="/methodology">
          Methodology
        </a>
      </li>
    </ul>
    </header>
    {% block body %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
