<!DOCTYPE html>
<html>
  <head>
    <title>Itemify</title>
    <link href='/static/dist/minified.css'
          rel='stylesheet' />
    <link href='/bower_components/font-awesome/css/font-awesome.min.css'
          rel='stylesheet' />
    <script src='/bower_components/jquery/dist/jquery.min.js'>
    </script>
    <script src='/static/dist/minified.js'>
    </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class='container'>
      <div id='background'></div>
      <div class='header'>
        <ul>
          <li id='icon'>
            <a href='/' class='icon'>Itemify</a>
          </li>
          <li>
            <a href='https://github.com/omgimanerd/itemify'>Code</a>
          </li>
        </ul>
      </div>
      {% block content %}
      {% endblock %}
      <div class='footer'>
        Itemify isn’t endorsed by Riot Games and doesn’t reflect the views or
        opinions of Riot Games or anyone officially involved in producing or
        managing League of Legends. League of Legends and Riot Games are
        trademarks or registered trademarks of Riot Games, Inc. League of
        Legends &copy; Riot Games, Inc.
      </div>
    </div>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
