/*
 * Main stylesheet.
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Roboto.woff2');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

.container {
  height: 100%;
  width: 100%
}

.header {
  height: 3em;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  margin: 0;
  float: left;
  clear: none;
  z-index: 2;
}

.header ul li {
  padding-right: 1em;
  text-align: left;
  font-style: normal;
  font-weight: 1100;
  text-transform: uppercase;
  list-style: none;
  float: right;
}

.icon {
  padding-right: 0em;
  float: left;
  position: absolute;
  left: 0.5em;
}

.header ul li a {
  list-style: none;
  font-style: inherit;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.header ul li a:hover {
  color: white;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  background: #888888;
  float: left;
  clear: none;
}

.content h1 {
  font-size: 3em;
  padding-top: 3em;
  text-align: center;
  margin: 0;
}

.content h2 {
  font-size: 1em;
  text-align: center;
}

.search-bar {
  padding: 8px 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.search-bar .search-button,.search-bar .search-text {
  display:inline-block;
  height:50px;
  background-color:transparent;
  color:#fff;
  font-size:20px;
  border:0
}

.search-bar .search-text {
  width:394px;
  padding-left:20px
}

.search-bar .search-text:focus {
  outline:0
}

.search-bar .search-button {
    width:50px;
    padding:0
}

.build {

}
