/*
 * Main stylesheet.
 * Author: Justin He
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Roboto.woff2');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  opacity: 0.75;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.header {
  height: 3em;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  margin: 0;
  float: left;
  clear: none;
  z-index: 2;
}

.header ul li {
  padding-right: 1em;
  text-align: left;
  font-style: normal;
  font-weight: 1100;
  text-transform: uppercase;
  list-style: none;
  float: right;
}

.icon {
  padding-right: 0em;
  float: left;
  position: absolute;
  left: 0.5em;
}

.header ul li a {
  list-style: none;
  font-style: inherit;
  text-decoration: none;
  color: black;
  transition: 0.5s;

  &:hover {
    color: white;
  }
}

.content {
  width: 100%;
  height: 100%;
  background: #888888;
  display: block;
  margin: 0 auto;
  float: left;
  clear: none;

  h1 {
    font-size: 3em;
    padding-top: 3em;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 1em;
    text-align: center;
  }
}

.search-bar {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  padding: 0;
  border: 0;
  text-align: center;

  .search-text {
    display: inline-block;
    height: 50px;
    margin: 0;
  }

  .search-button {
    display: inline-block;
    height: 50px;
    background: transparent;
    margin: 0;
  }

  input {
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;

    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
    box-shadow: inset 0 0 8px rgba(0,0,0,0.1), 0 0 16px rgba(0,0,0,0.1);
  }
}

.build {
  position: relative;
  width: 85%;
  display: block;
  margin: 0 auto;
  margin-top: 7em;
  background:rgba(0,0,0,0.5);
  border-radius: 25px;
}
.build h1{
  padding: 0.5em;
  margin: 0em;
}
.build-block {
  padding: 10px;
}
